.btn {
  padding-inline: 2.4rem;
  padding-block: 1.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: var(--default-transition);
  height: 4rem;
  line-height: 1;
  justify-self: start;
}

.btn:hover {
  transform: translateY(-0.2rem);
}

.btn:active {
  transform: translateY(0rem);
}

.btn--primary {
  background-color: var(--primary);
  color: var(--white);
  transition: var(--default-transition);
}

.btn--primary:hover {
  background-color: var(--primary-hover);
  color: var(--white);
  transition: var(--default-transition);
}

.btn--secondary {
  background-color: var(--darker);
  color: var(--white);
}

.btn--outline {
  background-color: transparent;
  color: var(--darker);
  border-color: var(--darker);
  transition: var(--default-transition);
}

.btn--outline:hover {
  background-color: var(--darker);
  color: var(--white);
}

.btn-w-svg {
  display: flex;
  gap: 8px;
  align-items: center;
}
